.form span {
    color: red;
    font-size: 12px;
  }
  .form .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .form input::placeholder {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 15px;
  }
  .form input:focus {
      border-color: #6946F4;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(189, 45, 255, 0.6);
  }
  .form .orange-btn{
      border-radius: 0;
  }
  